
@{
    ViewData["Title"] = "Gebucht!";
}
<center>

    <h1 class="home">Ihr Fahrzeug wurde gebucht!</h1>
    <p>
        Wir haben Ihren Auftrag erhalten und k&uuml;mmern uns umgehend darum. <br />
        Zus&auml;tzlich zu dieser Meldung erhalten Sie eine Best&auml;tigungsmail. <br /><br />
        <a class="intext" href="/home">Zur&uuml;ck zur Homepage</a>
    </p>

</center>
