
@{
    ViewData["Title"] = "Mailsent";
}
<div id="contactpage">

    <h1 class="home">Ihre Nachricht wurde versandt!</h1>
    <p>
        Wir haben Ihre Nachricht erhalten und k&uuml;mmern uns umgehend darum. <br />
        Zus&auml;tzlich zu dieser Meldung erhalten Sie eine Best&auml;tigungsmail. <br /><br />
        <a class="intext" href="/home">Zur&uuml;ck zur Homepage</a>
    </p>

</div>
