@{
    ViewData["Title"] = "Datenschutz";
}
<h1>Datenschutz</h1>
<p>
    We're no strangers to love
    <br />You know the rules and so do I (do I)
    <br />A full commitment's what I'm thinking of
    <br />You wouldn't get this from any other guy
    <br />I just wanna tell you how I'm feeling
    <br />Gotta make you understand
    <br />
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />
    <br />We've known each other for so long
    <br />Your heart's been aching, but you're too shy to say it (say it)
    <br />Inside, we both know what's been going on (going on)
    <br />We know the game and we're gonna play it
    <br />And if you ask me how I'm feeling
    <br />Don't tell me you're too blind to see
    <br />
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />
    <br />We've known each other for so long
    <br />Your heart's been aching, but you're too shy to say it (to say it)
    <br />Inside, we both know what's been going on (going on)
    <br />We know the game and we're gonna play it
    <br />I just wanna tell you how I'm feeling
    <br />Gotta make you understand
    <br />
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
</p>