@{
    ViewData["Title"] = "Datenschutz";
}
<h1>Datenschutz</h1>
<p>
    We're no strangers to love
    <br />You know the rules and so do I (do I)
    <br />A full commitment's what I'm thinking of
    <br />You wouldn't get this from any other guy
    <br />I just wanna tell you how I'm feeling
    <br />Gotta make you understand
    <br />
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />
    <br />We've known each other for so long
    <br />Your heart's been aching, but you're too shy to say it (say it)
    <br />Inside, we both know what's been going on (going on)
    <br />We know the game and we're gonna play it
    <br />And if you ask me how I'm feeling
    <br />Don't tell me you're too blind to see
    <br />
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />
    <br />We've known each other for so long
    <br />Your heart's been aching, but you're too shy to say it (to say it)
    <br />Inside, we both know what's been going on (going on)
    <br />We know the game and we're gonna play it
    <br />I just wanna tell you how I'm feeling
    <br />Gotta make you understand
    <br />
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
    <br />Never gonna give you up
    <br />Never gonna let you down
    <br />Never gonna run around and desert you
    <br />Never gonna make you cry
    <br />Never gonna say goodbye
    <br />Never gonna tell a lie and hurt you
</p>

<h1>DATENSCHUTZ</h1>
<p>Datenschutzbeauftragte: Anna Weber &lt;<a class="unterstrichen" href="mailto:anna.weber@c-u-mangement.de">anna.weber@c-u-mangement.de</a>&gt;</p>
<p><strong>Recht auf Auskunft, Berichtigung, Sperrung, L&ouml;schung</strong></p>
<p>Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das Recht auf unentgeltliche Auskunft &uuml;ber Ihre gespeicherten personenbezogenen Daten, Herkunft der Daten, deren Empf&auml;nger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder L&ouml;schung dieser Daten. Diesbez&uuml;glich und auch zu weiteren Fragen zum Thema personenbezogene Daten k&ouml;nnen Sie sich jederzeit &uuml;ber die im Impressum aufgef&uuml;hrten Kontaktm&ouml;glichkeiten an uns wenden.</p>
<p><strong>Registrierung auf dieser Website</strong></p>
<p>Zur Nutzung bestimmter Funktionen k&ouml;nnen Sie sich auf unserer Website registrieren. Die &uuml;bermittelten Daten dienen ausschlie&szlig;lich zum Zwecke der Nutzung des jeweiligen Angebotes oder Dienstes. Bei der Registrierung abgefragte Pflichtangaben sind vollst&auml;ndig anzugeben. Andernfalls werden wir die Registrierung ablehnen.</p>
<p>Im Falle wichtiger &auml;nderungen, etwa aus technischen Gr&uuml;nden, informieren wir Sie per E-Mail. Die E-Mail wird an die Adresse versendet, die bei der Registrierung angegeben wurde.</p>
<p>Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit m&ouml;glich. F&uuml;r den Widerruf gen&uuml;gt eine formlose Mitteilung per E-Mail. Die Rechtm&auml;&szlig;igkeit der bereits erfolgten Datenverarbeitung bleibt vom Widerruf unber&uuml;hrt.</p>
<p>Wir speichern die bei der Registrierung erfassten Daten w&auml;hrend des Zeitraums, den Sie auf unserer Website registriert sind. Ihren Daten werden gel&ouml;scht, sollten Sie Ihre Registrierung aufheben. Gesetzliche Aufbewahrungsfristen bleiben unber&uuml;hrt.</p>
            
<p><strong>Kontaktformular</strong></p>
<p>Per Kontaktformular &uuml;bermittelte Daten werden einschlie&szlig;lich Ihrer Kontaktdaten gespeichert, um Ihre Anfrage bearbeiten zu k&ouml;nnen oder um f&uuml;r Anschlussfragen bereitzustehen. Eine Weitergabe dieser Daten findet ohne Ihre Einwilligung nicht statt.</p>
<p>Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt ausschlie&szlig;lich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit m&ouml;glich. F&uuml;r den Widerruf gen&uuml;gt eine formlose Mitteilung per E-Mail. Die Rechtm&auml;&szlig;igkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorg&auml;nge bleibt vom Widerruf unber&uuml;hrt.</p>
<p>&uuml;ber das Kontaktformular &uuml;bermittelte Daten verbleiben bei uns, bis Sie uns zur L&ouml;schung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder keine Notwendigkeit der Datenspeicherung mehr besteht. Zwingende gesetzliche Bestimmungen - insbesondere Aufbewahrungsfristen - bleiben unber&uuml;hrt.</p>
            
<p><strong>Speicherdauer von Beitr&auml;gen und Kommentaren</strong></p>
<p>Beitr&auml;ge und Kommentare sowie damit in Verbindung stehende Daten, wie beispielsweise IP-Adressen, werden gespeichert. Der Inhalt verbleibt auf unserer Website, bis er vollst&auml;ndig gel&ouml;scht wurde oder aus rechtlichen Gr&uuml;nden gel&ouml;scht werden musste.</p>
<p>Die Speicherung der Beitr&auml;ge und Kommentare erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit m&ouml;glich. F&uuml;r den Widerruf gen&uuml;gt eine formlose Mitteilung per E-Mail. Die
	Rechtm&auml;&szlig;igkeit bereits erfolgter Datenverarbeitungsvorg&auml;nge bleibt vom Widerruf unber&uuml;hrt.</p>
            
<p><strong>YouTube</strong></p>
<p>F&uuml;r Integration und Darstellung von Videoinhalten nutzt unsere Website Plugins von YouTube. Anbieter des Videoportals ist die YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA.</p>
<p>Bei Aufruf einer Seite mit integriertem YouTube-Plugin wird eine Verbindung zu den Servern von YouTube hergestellt. YouTube erf&auml;hrt hierdurch, welche unserer Seiten Sie aufgerufen haben.</p>
<p>YouTube kann Ihr Surfverhalten direkt Ihrem pers&ouml;nlichen Profil zuzuordnen, sollten Sie in Ihrem YouTube Konto eingeloggt sein. Durch vorheriges Ausloggen haben Sie die M&ouml;glichkeit, dies zu unterbinden.</p>
<p>Die Nutzung von YouTube erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.</p>
<p>Einzelheiten zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerkl&auml;rung von YouTube unter: <a href="https://www.google.de/intl/de/policies/privacy">https://www.google.de/intl/de/policies/privacy</a>.</p>
<p><small>Quelle: Datenschutz-Konfigurator von <a href="http://www.mein-datenschutzbeauftragter.de" target="_blank">mein-datenschutzbeauftragter.de</a></small></p>