
@{
    ViewData["Title"] = "Entfernt!";
}
<div id="bookingcenter">

    <h1 class="home">Ihr Account wurde gel&ouml;scht!</h1>
    <p>
        Wir haben Ihre Anfrage erhalten und l&ouml;schen Ihren Account und Ihre Daten umgehend.<br /><br />
        <a class="intext" href="/home">Zur&uuml;ck zur Homepage</a>
    </p>

</div>
