@{
    ViewData["Title"] = "Error";
}
<div class="error">
    <h1>404 Page Not Found</h1>
    <div>
        <div>
            <h2>Oooops! Diese Seite solltest du eigentlich nicht sehen.</h2>
            <p>Die Seite, die du suchst existiert nicht mehr. Vielleicht hast du auf einen alten Link geklickt oder eine falsche URL eingegeben!</p>
            <p>Zurück zur <a class="intext" href="/">Homepage</a></p>
        </div>
        <img src="~/images/GG.jpg">
    </div>
</div>