@{
    ViewData["Title"] = "Error";
}
<div class="error">
    <h1>@TempData["ErrorCode"]</h1>
    <h2>Oooops! Diese Seite solltest du eigentlich nicht sehen.</h2>
    <p>Irgendetwas ist schief gelaufen!</p>
    <p>Zurück zur <a class="intext" href="/">Homepage</a></p>
</div>