@{
    ViewData["Title"] = "Impressum";
}
<h1>Impressum</h1>
<table class="imprint-table" border="0" cellpadding="4" cellspacing="0" >
    <tr>
        <td>Adresse:</td>
        <td>Car Utility Management<br />Erzbergerstra&szlig;e  121<br />76133 Karlsruhe</td>
    </tr>
    <tr>
        <td>Kontakt:</td>
        <td>Email: <a href="mailto:contact@@c-u-management.de">contact@@c-u-management.de</a><br />Tel: +49 176 61300820</td>
    </tr>
</table>

<h1>Urheberrecht</h1>
<p>
    Bilder, Texte und alle anderen Inhalte dieser Seite unterliegen dem Urheberrecht und d&uuml;rfen nicht kopiert werden.
    Die private oder &ouml;ffentliche Nutzung dieser gesch&uuml;tzten Werke ist ein Versto&szlig; gegen das Urheberrecht.
</p>

<h1>Links</h1>
<p>
    Die Seite oder Texte auf ihr k&ouml;nnen links zu externen Webseiten beinhalten.
    Wir sind nicht verantwortlich f&uuml;r den Inhalt auf externen Seiten.
</p>