<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="../../wwwroot/css/style.css" />
</head>
<body>
   <div class="home">
       <h1>Über uns</h1>
   </div>

   <div class="center">
   <p>Paragraph 1</p>
   <p>Paragraph 2</p>
   <p>Paragraph 1</p>
   <p>Paragraph4</p>
   <p>Paragraph4</p>
   <p>Paragraph4</p>
   <p>Paragraph4</p>
   </div>
   <div class="center">

   <iframe width="70%" height="650" src="https://www.youtube.com/embed/XNoEwGqrJ10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>

   <div class="home">
       <h1>Die CuM Group im Überblick</h1>
   </div>


   <div class="container">
       <div class="column column-one"> <h3> >20
           <p>Mitarbeiter</p> </h3>
          </div>
       <div class="column column-two"><h3>2022<p>
           Gegründet</p></h3></div>
       <div class="column column-three"><h3>100%
         <p>  Innovation und Kundenfokus  </p>
         </h3></div>
   </div>
   <div class="home">
       <h2>
           Unsere Auswahl
       </h2>
   </div>
   <div class="center">
       <p>text for unsere Auswahl</p>
       <p>text for unsere Auswahl</p>
       <p>text for unsere Auswahl</p>
       <p>text for unsere Auswahl</p>

        <div class="a">
           <h3> <a style="color: red" href= "/Overview" >Zum Fahrzeugübersicht</a></h3>
        </div>
   </div>
   <div class="center">
       <p>text für Anmelden</p>
       <p>text für Anmelden</p>
       <p>text für</p>
       <div class="a">
         <h3><p><a style="color: red" href="/login">Anmelden</a></p></h3>
   </div>
       <p>text für registrierung</p>
       <p>text für registrierung</p>
       <p>text für registrierung</p>
       <div class="a">
       <h3> <a style="color: red" href="/Register">Register</a></p></h3>
       </div>
   </div>
</body>
</html>