<h1 class="home">Über uns</h1>

<p>Car Utility Management ist das neue innovative Tool um deinen Transport zu managen.
Ob du nun mit dem Auto, Motorrad oder Fahrrad fahren willst, wir haben alles von A bis Z. Mehr infos dazu findest du weiter unten.</p>
<p>Warum sind wir innovativ? Wir verbinden verschiedene Rental- und Sharingfirmen. Bei uns hast du den Überblick! Zudem bieten wir sofortige Leihe von Fahrzeugen vor Ort, dafür einfach nur mit deinem Handy den darauf befindlichen QR-Code einscannen und du landest direkt dessen Buchengseite.</p>
<p>Warum überhaupt Fahrzeuge ausleihen?</p>
		
<div class="werbevid">
	<iframe width="70%" height="650" src="https://www.youtube.com/embed/XNoEwGqrJ10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
	
<h1 class="home">Die CuM Group im Überblick</h1>
			
<div class="container">
	<div class="column"> 
        <h3> >20 <br><br> Mitarbeiter</h3>
	</div>
	<div class="column">
        <h3>2022 <br><br> Gegründet</h3>
    </div>
	<div class="column">
        <h3>100% <br><br> Innovation und Kundenfokus</h3>
    </div>
</div>
			
<h1 class="home">Unsere Auswahl</h1>
		
<p>text for unsere Auswahl</p>
<p>text for unsere Auswahl</p>
<p>text for unsere Auswahl</p>
<p>text for unsere Auswahl</p>
			
<h3><a class="intext" href= "/Overview" >Zur Fahrzeugübersicht</a></h3>
		
<p>text für Anmelden</p>
<p>text für Anmelden</p>
<p>text für</p>
			
<h3><a class="intext" href="/login">Anmelden</a></h3>
		
<p>text für registrierung</p>
<p>text für registrierung</p>
<p>text für registrierung</p>
			
<h3> <a class="intext" href="/Register">Registeren</a></h3>
