<h1 class="home">Über uns</h1>
				
<div class="werbevid">
	<iframe style="position: absolute;" width="100%" height="100%" src="https://www.youtube.com/embed/XNoEwGqrJ10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p><mark class="home">Mobility</mark> - Du hast bock mal irgendwo hin zu fahren, aber keine Lust auf eine stressige Zugfahrt? Bei uns hast du zahlreiche Möglichkeiten bequem und einfach von einem Ort zum anderen zu fahren. </p>

<p><mark class="home">Innovation</mark> - Car Utility Management ist das neue innovative Tool um deinen Transport zu managen.
Ob du nun mit dem Auto, Motorrad oder Fahrrad fahren willst, wir haben alles von A bis Z. Mehr infos dazu findest du <a class="unterstrichen" href="#auswahl">weiter unten.</a></p>

<p><mark class="home">Liberty</mark> - Warum sind wir innovativ? Wir verbinden verschiedene Rental- und Sharingfirmen. Bei uns hast du den Überblick! Zudem bieten wir sofortige Leihe von Fahrzeugen vor Ort. Dafür einfach nur mit deinem Handy den darauf befindlichen QR-Code einscannen und du landest direkt auf dessen Buchengseite.</p>

<p><mark class="home">Future</mark> - Warum überhaupt Fahrzeuge ausleihen? In unserer heutigen Welt mussen wir immer mehr auf das Klima achten. Deshalb wird es immer teurer ein Auto zu besitzen. Nicht nur das, sondern jedes weitere Fahrzeug ist eine weitere Last für die Umwelt. Also leihe oder teile dir ein Auto anstatt eins zu kaufen. Du sparst nicht nur Geld, sondern hilfst auch mit deinen ökologischen Fußabdruck zu verringern.</p>
		

	
<h1 class="home">Die CuM Group im Überblick</h1>
			
<div class="container">
	<div class="column"> 
		<h3> >20 <br><br> Mitarbeiter</h3>
	</div>
	<div class="column">
		<h3>2022 <br><br> Gegründet</h3>
	</div>
	<div class="column">
		<h3>100% <br><br> Innovation und Kundenfokus</h3>
	</div>
</div>
			
<h1 class="home">Unsere Auswahl</h1>
		
<p>Anders als unser Name es sagt, bieten wir nicht nur eine zahlreiche Auswahl and Leih- uns Sharingautos, sondern vieles mehr. Bei uns findest du auch Fahrzeuge mit zwei Rädern: <i>Fahrräder, E-Bikes, Motorräder und E-Roller</i>.</p>

<p>Falls du mal einen Umzug planst, findest du in unserer Fahrzeugübersicht auch kleine und große Transporter.</p>

<p>Da wir Fahrzeuge von verschieden Leih- und Sharingfirmen anbieten, empfehlen wir vor dem </p>
			
<h3 id="auswahl"><a class="intext" href= "/Overview">&rarr; Zur Fahrzeugübersicht</a></h3>
		
<p>text für Anmelden</p>
<p>text für Anmelden</p>
<p>text für</p>
			
<h3><a class="intext" href="/login">&rarr; Anmelden</a></h3>
		
<p>text für registrierung</p>
<p>text für registrierung</p>
<p>text für registrierung</p>
			
<h3> <a class="intext" href="/register">&rarr; Registeren</a></h3>