@{
    ViewData["Title"] = "Karriere";
}

<div id="karriere">
    <h1 class="h1">Arbeiten bei CUM</h1>
    <img src="Karrire.png" alt="Cyberfrau mit einem Mais" width="500" height="400" class="center">


    <br>
    <br>
    <h3 class="list">Wir bieten:</h3>
    <ul class="list" style="list-style: none;">
       <li>&#10004;Anspruchsvolle und vielfältige Projekte in einem offenen und kollegialen Arbeitsklima</li>
       <li>&#10004; flache Hierarchien, überschaubare Teamgrößen</li>
       <li>  &#10004; eine nachhaltige, betriebliche Altersvorsorge</li>
       <li> &#10004; die finanzielle Beteiligung an einem Firmenfitness-Programm</li>
    </ul>
    <div class="flex-container">
       <div class="text"><b><br>Frontendentwickler (m/w/d)
        </b>
            <br>

        <p>Beim Entwickeln und Gestalten von innovativen Nutzeroberflächen und Websites bist du in deinem Element.
               Du bist begeistert von HTML/CSS/JavaScript.</p>
            <ul class="list">
               <li>min. 5 Jahre Erfahrung in CSSFR </li>
              <li>&#9787; min. 100 EXP in Prolog Frontend</li>
            <li> min. 20 Webseiten in Minecraft erstellt auf</li>
              <li>  selbstgebautem Webserver + min. 5 Computer + Digitale Infrastruktur in
                der gesamten Minecraftwelt</li>
               <li> Hobbyanforderung: professioneller Wix.com-Entwickler</li>
            </ul>


        </div>
        <div class="text"><b><br>
            Backendentwickler (m/w/d)
        </b>
            <br>
            <p>Du hast Erfahrung in der Webentwicklung,
                fühlst dich wohl im Umgang mit SCUML-Datenbank und schaust auch gerne einmal über den Tellerrand hinaus.</p>
            <ul class="list">
                <li>min. 5 Jahre Erfahrung in SCUML-Datenbanken</li>
                   <li>&#9787; min. 10 EXP mit Prolog</li>
                   <li> min. LVL 5000 im Leben</li>
                   <li>min. 400 Spiele auf 100% in Steam</li>
               <li> min. 2 Vollständige Runs durch das </li>
            </ul>


        </div>
        <div class="text"><b><br>Support-Mitarbeiter
        </b>
            <br>
            <p>Du arbeitest gerne mit Kunden und das Beantworten von E-Mails macht dir Spaß </p>
            <ul>
                <li>min. 5 Jahre Erfahrung im Mails zu spät beantworten</li>
                <li>   min. 100 verpasste Anrufe im Monat</li>
                <li> Hobbyanforderung: Leute ignorieren und ihnen nicht helfen </li>
            </ul>
            <br>

        </div>

    </div>
    <h3 style="text-align: center;">&#9749; Alle Stellen sind gerne auch im Homeoffice/Remote &#9749;</h3>
    <h4 style="text-align: center;">Wir freuen uns auf deine Bewerbung! </h4>
        <p style="text-align: center;"><a href= "mailto:bewerbung@c-u-management.de" style="color:red;">Trete mit uns in Kontakt</a></p>
</div>