<h1 class="h1">Arbeiten bei CuM</h1>
<img src="Karrire.png" width="500em" height="400em" class="center">


<br>
<br>
<h3 class="list">Wir bieten:</h3>
<ul class="list">
    <p>&#10004;Anspruchsvolle und vielfältige Projekte in einem offenen und kollegialen Arbeitsklima</p>
   <p>&#10004; flache Hierarchien, überschaubare Teamgrößen</p>
   <p>  &#10004; eine nachhaltige, betriebliche Altersvorsorge</p>
   <p> &#10004; die finanzielle Beteiligung an einem Firmenfitness-Programm</p>
</ul>
<div class="flex-container">
    <br>
   <div class="text"><b><br>Frontendentwickler (m/w/d)
    </b>
        <br>

    <p>Beim Entwickeln und Gestalten von innovativen Nutzeroberflächen und Websites bist du in deinem Element.
           Du bist begeistert von HTML/CSS/JavaScript.</p>
        <ul class="list">
           <li>min. 5 Jahre Erfahrung in CSSFR </li> <br>
          <li>&#9787; min. 100 EXP in Prolog Frontend</li> <br>
        <li> min. 20 Webseiten in Minecraft erstellt auf</li> <br>
          <li>  selbstgebautem Webserver + min. 5 Computer + Digitale Infrastruktur in
            der gesamten Minecraftwelt</li> <br>
           <li> Hobbyanforderung: professioneller Wix.com-Entwickler</li> <br>
        </ul>


    </div>
    <div class="text"><b><br>
        Backendentwickler (m/w/d)
    </b>
        <br>
        <p>Du hast Erfahrung in der Webentwicklung,
            fühlst dich wohl im Umgang mit SCUML-Datenbank und schaust auch gerne einmal über den Tellerrand hinaus.</p>
        <ul class="list">
            <li>min. 5 Jahre Erfahrung in SCUML-Datenbanken</li><br>
               <li>&#9787; min. 10 EXP mit Prolog</li><br>
               <li> min. LVL 5000 im Leben</li><br>
               <li>min. 400 Spiele auf 100% in Steam</li><br>
           <li> min. 2 Vollständige Runs durch das </li><br>
        </ul>


    </div>
    <div class="text"><b><br>Support-Mitarbeiter
    </b>
        <br>
        <p>Du arbeitest gerne mit Kunden und das Beantworten von E-Mails macht dir Spaß </p>
        <ul>
            <br>
            <li>min. 5 Jahre Erfahrung im Mails zu spät beantworten</li><BR>
            <li>   min. 100 verpasste Anrufe im Monat</li><br>
            <li> Hobbyanforderung: Leute ignorieren und ihnen nicht helfen </li><br>
        </ul>
        <br>

    </div>

</div>
<h3 style="text-align: center;">&#9749; Alle Stellen sind gerne auch im Homeoffice/Remote &#9749;</h3>
<h4 style="text-align: center;">Wir freuen uns auf Deine Bewerbung!
    <br>
    <p><a href= "mailto:bewerbung@c-u-management.de" style="color:red;">Send Email</a></p>
</h4>