@{
    ViewData["Title"] = "Login";
}
<h1 class="home">Anmelden</h1>


<form class="loginpage" method="POST" action="@Url.Action("LoginAction", "Home")">
    <input class="loginpage" id="ReturnUrl" name="ReturnUrl" type="hidden" value="@ViewData["ReturnUrl"]" />
    
    <lable class="loginpage" for="Email">E-Mail Adresse</lable>
    <input class="loginpage user" id="Email" name="Email" type="text" required="required"/>
    
    <lable class="loginpage" for="Password">Passwort</lable>
    <input class="loginpage user" id="Password" name="Password" type="password" required="required"/>
    
    <input class="loginpage submit" type="submit" value="Anmelden" />
</form>

<hr class="loginpage"/>
Noch kein Konto? <a class="intext" href="/register">Registere dich!</a>


<script>
    console.log("@(ViewData["ApiStatus"])\n@(ViewData["ApiMessage"])")
</script>