@{
    ViewData["Title"] = "Partner";
}
<h1 class="home">Unsere Partner</h1>
<p>
    Das ist eine Übersicht, woher die Fahrzeuge kommen, die wir anbieten. 
    Hier kannst du sehen, welche Firmen Autos, Fahrräder oder E-Scooter verleihen.
    <br />
    Unser größter Partner ist ebenfalls aufgeführt.
</p>

<h2 class="partner">Leih Autos</h2>

<div class="partner">
    <article class="partner">
        <img src="~/images/partnerLogos/Europauto.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.europcar.de/de-de" rel="noreferrer" target="_blank">EuropAuto</a> 
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/Schertz.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.hertz.de/rentacar/reservation/" rel="noreferrer" target="_blank">Schertz</a> 
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/Siva.jpeg" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.avis.de/" rel="noreferrer" target="_blank">Siva</a>        
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/buchtrenner.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.buchbinder.de/de" rel="noreferrer" target="_blank">Buchtrenner</a>         
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/entenscheiss.jpeg" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.enterprise.com/en/home.html" rel="noreferrer" target="_blank">Entensheiss</a>      
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/Sext.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.sixt.de/#/" rel="noreferrer" target="_blank">Sext</a>         
    </article>
</div>

<h2 class="partner">Sharing Autos</h2>

<div class="partner">
    <article class="partner">
        <img src="~/images/partnerLogos/Fickster.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.flinkster.de/index.php" rel="noreferrer" target="_blank">Fickster</a> 
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/book-n-drink.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.book-n-drive.de/" rel="noreferrer" target="_blank">Book-n-Drink</a> 
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/ganzAuto.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.teilauto.net/" rel="noreferrer" target="_blank">ganzAuto</a>        
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/Cumbio.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.cambio-carsharing.de/" rel="noreferrer" target="_blank">Cumbio</a>         
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/Dorfmobol.jpg" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.stadtmobil.de/" rel="noreferrer" target="_blank">Dorfmobil</a>      
    </article>
</div>

<h2 class="partner">Fahrräder Sharing</h2>

<div class="partner">
    <article class="partner">
        <img src="~/images/partnerLogos/previous.bike.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.nextbike.net/en/" rel="noreferrer" target="_blank">Previous.Bike</a> 
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/call_a_fake.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.callabike.de/en/home/" rel="noreferrer" target="_blank">Call a fake</a> 
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/affen_republik.jpg" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.donkey.bike/de/" rel="noreferrer" target="_blank">Affen Rebublik</a>        
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/zitrone.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.li.me/" rel="noreferrer" target="_blank">Limette</a>         
    </article>
</div>

<h2 class="partner">E-Scooter sharing</h2>

<div class="partner">
    <article class="partner">
        <img src="~/images/partnerLogos/Biest.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://mytier.de/" rel="noreferrer" target="_blank">Biest</a> 
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/dot.jpg" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.circ.com/" rel="noreferrer" target="_blank">Dot</a> 
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/ohBoy.jpg" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.voiscooters.com/de/" rel="noreferrer" target="_blank">OhBoy.</a>        
    </article>

    <article class="partner">
        <img src="~/images/partnerLogos/zitrone.png" width="100em" height="100em"/>
        &nbsp;
        <a href="https://www.li.me/" rel="noreferrer" target="_blank">Limette</a>         
    </article>
</div>

<h2 class="partner">Sonstige Partner</h2>

<div class="partner">
    <article class="partner">
        <img src="~/images/partnerLogos/bubatzSE.png" width="100em" height="100em"/>
        &nbsp;
        <a href="" rel="noreferrer" target="_blank">Bubatz SE</a> 
    </article>
    <p>
        Natürlich dürfen wir nicht unseren größten Partner vergessen. 
        Das niederländische Gartencenter Bubatz SE war von Beginn an einer unserer wichtigsten Geschäftspartner.
    </p>
</div>

<p id="disclaimer" class="registerpage passwordRQMTS">
    <mark class="home disclaimer">Disclaimer:</mark> Wir entschuldigen für sämtliche "Rechtschreibfehler" bei den Namen unserer "Partner".
    <br /><br />
    An dieser Stelle möchten wir erinnern, dass wir keine ernstgemeinte Seite sind. Die aufgeführten 
    Unternehmen sind nicht wirklich unsere Partner und wir haften auch nicht für die Inhalte ihrer Seiten. <br />
    Aber du kannst gerne diese Seite als Auflistung bekannter rental- und sharing Unternehmen sehen.
    <br /><br />
    Falls Sie von eines der oben aufgeführten Unternehmen sind und Ihren Namen korrigiert oder entfernt haben möchten,
    dann kontaktieren Sie uns bitte über unser <a class="home" href="\contact">Kontaktformular</a>. Ja, das Formular funktioniert 
    wirklich und Sie können uns problemlos darüber kontaktieren.
</p>