@{
    ViewData["Title"] = "Registrieren";
}
<h1 class="home">Registrierung</h1>
<p>
    Einfach, schnell und kostenlos! <br /> 
    Erstell ein Account um grenzenlose Reisefreiheit zu genie&szlig;en.
</p>

<script type="text/javascript" src="~/js/register.js" ></script>
<form method="post" class="register" action="@Url.Action("RegisterAction", "Home")">
    <div class="registerbox">
        <p>
            1. Leg deine Anmeldedaten fest:
        </p>

        <lable class="loginpage" for="Email">Gib deine E-Mail Adresse an</lable>
        <input type="email" class="loginpage user" name="Email" id="Email" autofocus="autofocus" required="required"/>

        <lable class="loginpage" for="Password">&Uuml;berlege dir ein Passwort</lable>
        <p id="pwCriteria" class="registerpage passwordRQMTS">
            (Passwort Vorgaben: mind 6 Zeichen, 1 Zahl, 1 Gro&szlig;buchstabe, 1 nicht-alphanumerisches Zeichen)
        </p>
        <input type="password" onblur="checkPW_norm($('#Password')[0].value)" class="loginpage user" name="Password" id="Password" required="required"/>

        <lable class="loginpage" for="PasswordRPT">Bitte wiederhole dein Passwort:</lable>
        <input type="password" onblur="checkPW_RPT($('#Password')[0].value, $('#PasswordRPT')[0].value)" class="loginpage user" name="PasswordRPT" id="PasswordRPT" required="required"/>
        <div id="RPTincorrect" class="RPTincorrect"></div>
    </div>

    <br />

    <div class="registerbox">
        <p>
            2. Jetzt nur noch ein paar Details, damit wir wissen, wer du bist:
        </p>

        <lable class="loginpage" for="KdTitle">Wie m&ouml;chtest du Angesprochen werden? (Herr, Frau)</lable>
        <input class="loginpage user" name="KdTitle" id="KdTitle" required="required"/>

        <lable class="loginpage" for="KdSurname">Nachname</lable>
        <input type="text" class="loginpage user" name="KdSurname" id="KdSurname" required="required"/>

        <lable class="loginpage" for="KdName">Vorname</lable>
        <input type="text" class="loginpage user" name="KdName" id="KdName" required="required"/>

        <lable class="loginpage" for="KdBirth">Geburtsdatum</lable>
        <input type="date" class="loginpage user" name="KdBirth" id="KdBirth" required="required"/>

        <lable class="loginpage" for="Paymnt">Wie m&ouml;chtest du denn bei uns Zahlen?</lable>
        <input class="loginpage user" name="Paymnt" id="Paymnt" required="required"/>
    </div>

    @if (ViewData["ApiStatus"].ToString() == "Error")
    {
        <p class="loginError">
            Oops, etwas scheint wohl schiefgelaufen zu sein :/ <br><br>
            Entweder existiert der Benutzer bereits oder etwas Stimmt bei den Daten nicht.
            Bitte &uuml;berbr&uuml;fe, ob du alles richtig eingetragen hast.
        </p>
    }

    <input class="loginpage submit" type="submit" value="Registrieren"/>
</form>
<hr class="loginpage"/>
Hast du schon ein Konto bei uns? Dann <a class="intext" href="/login">melde dich hier an.</a>

<script>
    console.log("@(ViewData["ApiStatus"])\n@(ViewData["ApiMessage"])")
</script>