
@{
    ViewData["Title"] = "Car Utility Management";
}
<h1 class="home">Willkommen bei Car Utility Management!</h1>
<p>
    Dieses Projekt entstand im Rahmen der Vorlesungen Webengineering I und Projektmanagement der 
    <a class="unterstrichen" href="https://www.karlsruhe.dhbw.de/startseite.html" rel="noreferrer">Dualen Hochschule Karlsruhe.</a>
</p>
<p>
    Ziel des Projekts war die Erstellung einer kleinen Webanwendung. 
    Unsere Projektgruppe hat sich für eine Vergleichs- und Buchungsplattform f&uuml;r Leih- und Sharingfahrzeuge entschieden.
    Das Entwicklerteam bestand aus vier Personen und die Entwicklungszeit lief von Mai bis Juli 2022. 
    Die Aufgaben wurden von den Entwicklerinnen und Entwicklern selbst festgelegt und verteilt.
</p>
<br />
<p>
    <h1>Benutzerinformationen:</h1>
    Um die Kernfunktionalit&auml;t zu nutzen ist eine Anmeldung erforderlich. Die Daten unterliegen dem Datenschutz und werden nicht an Dritte weitergegeben.
    Nach der Registrierung k&ouml;nnen alle Funktionen der Webseite benutzt werden. Die "Buchung" kann tats&auml;chlich ausgef&uuml;hrt werden,
    jedoch fallen weder Kosten an, noch wird hier tats&auml;chlich eine Leistung erbracht. Sie erhalten lediglich eine Best&auml;tigungsmail,
    sollten Sie eine reale Mail angegeben haben. <br />
    Auch das Kontaktformular kann wirklich benutzt werden und sendet eine Mail an uns. Sollten Sie also ein Anliegen haben, schreiben Sie uns 
    oder rufen Sie an. Die angegebene Telefonnummer ist im Besitz einer Entwicklerin. AGB, Datenschutz und Impressum enthalten, neben anderen
    satirischen Texten, aber auch reale Bestimmungen und Informationen zu dem Umgang mit Daten und Kontaktm&ouml;glichkeiten.
</p>
<p>
    <h1>Buchungstutorial:</h1>
    Um ein Fahrzeug zu "buchen", m&uuml;ssen Sie angemeldet sein. Dazu registrieren Sie sich oder melden sich mit einem bestehenden Konto an.
    W&auml;hlen Sie nun die Fahrzeug&uuml;bersicht (im Header oder &uuml;ber den Link auf der Indexseite) und suchen hier das gew&uuml;nschte Fahrzeug 
    - falls n&ouml;tig mit den Filtern - aus. Klicken Sie auf "Zur Buchung" und Sie werden zur fahrzeugspezifischen Buchungsseite weitergeleitet, auf denen
    alle relevanten Buchungsdetails, wie Buchungszeitraum, optionale Zusatzbuchungen (Versicherungen, Refuel) oder Preis einzusehen sind. Sobald Sie mit den
    Einstellungen zufrieden sind, klicken Sie auf "Buchen". Sie werden dann auf eine Best&auml;tigungsseite weitergeleitet und erhalten zeitnah auch eine
    Best&auml;tigungsmail. Damit ist die fiktive Buchung abgeschlossen, Sie um 0&euro; &auml;rmer und wir um 0&euro; reicher.
</p>

<p>Das gesamte Team w&uuml;nscht Ihnen viel Spaß beim st&ouml;bern auf unserer Seite!</p>
<a class="intext" href="/home">Zur Homepage</a>
