<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>@ViewData["Title"]</title>
		<link rel="icon" type="image" href="~/images/icon.png"/>
		<link rel="stylesheet" href="~/css/style.css" />
	</head>
	
	<body>
		<div>
			<header> <h1>&nbsp;</h1> </header>

			<nav>
				<div class="nav_left">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/overview">Fahrzeugübersicht</a></li>
						<li><a href="/rating">Bewertung</a></li>
						<li><a href="/contact">Kontakt</a></li>
					</ul>
				</div>
				<div class="login">
					<ul>
						<li class="login-field"><a href="/login">Log in</a></li>
					</ul>
				</div>
			</nav>
		</div>
		
		<section class="main">
			@RenderBody()
		</section>
		
		<footer>
			
		</footer>
	</body>
</html>
