:root{ /*color scheme*/
	--background: #181818;
	--border: #202020;
	--column_dark: #313131;
	--column_bright: #404040;
	--accents: #696969;
	--documents: #909090;
	--font: #efefef;
	--deep_red: #c20000;
	--bright_red: #ff6969;
}

html, body {
	height: 100vh;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

body{
    background: var(--background);
    color: var(--font);
	padding: 0pt;
	margin: 0pt;
	font-family: arial, sans-serif;
}

h2 {
	color: var(--font);
}

/*header-----------------------------------------------*/
header {
	display: block;
	background-image: url("/images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

header h1{
	user-select: none;
	line-height: 4em;
	margin-top: 0em;
}

nav {
	background: var(--border);
	overflow: hidden;
	height: 70pt;
	width: 100%;
	-webkit-transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
	-moz-transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
	-ms-transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
	-o-transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
	transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
}

nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

nav .nav_left ul li, .login-field{
	padding: 10pt;
	margin: 5pt;
	border-bottom: 2pt solid var(--border);
	user-select: none;
}

a{
	text-decoration: none;
	color: var(--font);
}

nav .nav_left ul li:hover {
	background: var(--column_dark);
	border-bottom: 2pt solid var(--deep_red);
}
nav .nav_left ul li.active {
	background: var(--column_dark);
	border-bottom: 2pt solid var(--bright_red);
}
nav .nav_left ul li a,  .login .login-field a {
	padding: 2em;
	margin: -2em;
}

.nav_left{
	float: left;
}

.login-field:hover {
	background: var(--bright_red);
	border-width: 0pt;
}
.login-field, .prof-menu div:nth-of-type(1) {
	background: var(--column_bright);
	border-width: 0pt;
}

.login{
	margin-right: 40pt;
	float: right;
}

/* Profile Header Menu  */
.user-menu-display {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10em;
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
}

.prof-menu ul {
	display: none;
	margin: 0;
	padding: 0;
	background-color: var(--column_bright);
	border: 1px solid var(--accents);
	box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
	border-radius: 5px;
}

.prof-menu:hover ul {
	display: inline-block;
	position:absolute;
}

.prof-menu ul li {
	list-style: none;
	padding: 0;
	align-items: center;
}

.prof-menu ul li a {
	width: 125px;
	display: flex;
	padding: 5px 10px;
	cursor: pointer;
	align-items: center;
	color: var(--font);
}

.prof-menu ul li:hover {
	background: var(--column_dark);
	border-bottom: 2pt solid var(--deep_red);
}

.prof-menu ul li a {
	height: 32px;
}

.user-menu-display {
	margin: 5pt;
	margin-bottom: 0;
	padding: 10pt;
}

/*Scrollbar and main ------------------------------------------------------------*/
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6pt rgba(0,0,0,0.3);
	background-color: var(--column_dark);
}

 body::-webkit-scrollbar {
    width: 8pt;
    background-color: var(--accents);
 }

body::-webkit-scrollbar-thumb {
    border-radius: 10pt;
    -webkit-box-shadow: inset 0 0 6pt rgba(0,0,0,.3);
    background-color: var(--accents);
}


.main{
	margin: 1.25em auto;
	width: 70%;
	justify-self: center;
	padding-bottom: 20pt;
	font-size: 14pt;
}

#menubar {
	display: block;
	height:40px;
}

#menubar .menubuttoncontainer ul {
	display: block;
	width: 2em;
	margin:0em;
	padding:0.1em 0em 0.1em 1em;
	margin-left:.3em;
}

#menubar .menubuttoncontainer ul li {
	display: inline;
	padding: 0em;
	margin: 0em;
}

#menubar .menubuttoncontainer ul li a.menubutton {
	display: none;
	padding:0em;
}

.menubuttoncontainer {
	display:inline-block;
	margin-top:6px;
}

img.img-menu-button {
	width: 100%;
	height: auto;
	max-width: 100%;
	margin: auto 0 auto;
}

/* Mobile View */
@media screen and (max-width:800px) {
	body {
		font-size: 90%;
	}

	.login {
		margin-right: 0;
	}
}

@media screen and (min-width:670px) {
	nav.nav {
		display: block !important;
	}

	.login ul {
		padding-left: 0;
	}
}

@media screen and (max-width:670px) {
	body {
		font-size: 86%;
	}

	#menubar .menubuttoncontainer ul li a.menubutton {
		display:block;
	}

	.nav {
		height: 0px;
	}
	.nav.navactive {
		height: 200pt;
	}

	.nav_left {
		display:block;
		float:none;
	}
	nav .nav_left ul, nav ul.unauth {
		display: block;
		flex-wrap: unset;
		margin: 0;
		padding: 0;
	}
	nav .login {
		display:block;
		margin: 0;
		float:none;
	}

	nav .login ul {
		padding:0;
		margin:0;
	}

	.user-menu-display {
		justify-content: left;
	}

}

/*footer --------------------------------------------------------*/
footer{
    display: flex;
	background: var(--border);
	flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
	justify-content: space-around;
	bottom:0;
	left:0;
	right:0;

}

footer ul{
	width: 12.6em;
	list-style: none;
}

footer ul:first-child img {
	width: 1.2em;
	vertical-align:bottom;
	margin-right: 1em;
}

footer ul {
	padding-left: 0;
}

footer ul:nth-child(2) {
	text-align: center;
}

footer ul li{
	padding: 10pt;
}

footer div.copyright{
	clear: left;
}


/*Indexpage -------------------------------------------------------------*/
h1.home{
	color: var(--deep_red);
	font-size: 30pt;
	text-align: center;
}

.werbevid{
	padding-bottom: 50%;
	position: relative;
	margin: 0 10%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.unterstrichen{
	text-decoration: underline;
}

mark.home{
	background: none;
	color: var(--bright_red);
	font-size: 18pt;
}

.column {
    background-color: var(--border);
    height: 100pt;
    width: 10em;
    text-align: center;
    margin: 25pt;
    padding: 25pt;
}

a.intext{
  box-shadow: inset 0 0 0 0 var(--column_bright);
  color: var(--deep_red);
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover.intext{
  box-shadow: inset 200pt 0 0 0 var(--column_bright);
  color: var(--font);
}
/*booking----------------------------------------------*/
#bookingcenter{
	text-align: center;
}

.booki .fahrzeuginfo{
	justify-content: space-around;
	align-items:flex-end;
	flex-wrap: wrap-reverse;
	border: 2pt solid var(--border);
	padding: 1em;
	align-self: center;
}

.booki .row{
	display: flex;
	align-items:flex-start;
	justify-content: space-between;
}


/* Overview */

.overview-grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: 1fr;
}

.overview-grid .filter {
	background-color:var(--column_bright);
	border: 2pt solid var(--border);
	padding: 1em;
}

.filter h2 {
	text-align: center;
}

.filter input, .filter select {
	margin-bottom: 1em;
}

.overview-grid .prod .child {
	background-color: var(--column_bright);
	text-align: left;
	border: 2pt solid var(--border);
}

.prod .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.prod .fahrzeuginfo {
	justify-content: space-between;
	align-items: flex-end;
	border: 2pt solid var(--border);
	padding: 1em;
}

.prod .row {
	align-items: flex-start;
	justify-content: space-between;
}

.attributes {
	display: flex;
	flex-flow: column;
}

.carattribute{
	align-items: start;
	padding: 1em;
}

.tabellenueberschrift{
	color: var(--accents);
	background: none;
}

.booking,.lable{
	color: var(--accents);
}

.hinweis{
	color: var(--column_bright);
}

input[type="date"] {
	background: var(--column_dark);
	color: var(--font);
	border: 1pt solid var(--accents);
}

input[type="datetime-local"] {
	background: var(--column_dark);
	color: var(--font);
	border: 1pt solid var(--accents);
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.sendbutton {
	padding: 10pt 30pt;
	background: var(--deep_red);
	border: 1pt solid var(--font);
	text-align: center;
	color: var(--font);
	font-size: 14pt;
}

.sendbutton:hover {
	background: var(--bright_red);
}
div.break {
	flex-basis: 100%;
	height: 0;
}

.prod a.button {
	border: none;
	color: var(--font);
	background-color: var(--deep_red);
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
}

.overview-grid .prod {
	grid-column-start: span 9;
}

.overview-grid .filter {
	grid-column-start: span 3;
}

@media screen and (max-width: 1200px) {
	.overview-grid {
		display: block;
	}
}

@media screen and (min-width: 1700px) {
	.overview-grid {
		grid-gap: 1em;
	}
}

@media screen and (min-width: 1900px) {
	.overview-grid {
		grid-gap: 3em;
	}
}

select[data-form="pageswitch"],
select[data-form="pageswitch"] option,
input[type="text"][data-form="pageswitch"] {
	color: var(--font);
	margin-bottom: 15pt;
	font-size: 14pt;
	width: 95%;
	background: var(--column_dark);
	border: none;
	border-bottom: 2pt solid var(--accents);
}

input[type='range'] {
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: var(--documents);
	height: 10px;
	vertical-align: middle;
}

	input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: var(--deep_red);
		height: 10px;
	}

	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 20px;
		background-color: var(--deep_red);
		box-shadow: inset 0 0 10px rgba(000,000,000,0.5);
		border: 1px solid #999;
		height: 20px;
		width: 20px;
	}

	input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 20px;
		background-color: var(--documents);
		box-shadow: inset 0 0 10px rgba(000,000,000,0.5);
		border: 1px solid #999;
		height: 20px;
		width: 20px;
	}



/*Impressum page*/
.imprint-table {
	width: 100%;
}

.imprint-table tr td {
	vertical-align:top;
	padding: 4px;
}

/*Error seite*/

.error h1 {
	color: var(--deep_red);
}


.error > div {
	display:grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1em;
}

@media screen and (max-width: 1200px) {
	.error img {
		width:80%
	}
}
@media screen and (max-width: 1000px) {
	.error > div {
		display:block;
	}
	.error img {
		width: 100%;
	}
}

/*Contact Page*/

#contactpage {
	text-align: center;
}

textarea {
	padding: 1ex;
	font-family: Arial, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	background-color: var(--border);
	color: var(--font);
	border: solid var(--accents) 1px;
	resize: none;
	overflow: auto;
	width: 104.55%;
}

textarea::placeholder {
	color: var(--accents);
	font-size: 16px;
}

input.contact {
	width: 104.55%;
	background-color: var(--border);
	box-sizing: border-box;
	padding: 1ex;
	color: var(--font);
	border: solid var(--accents) 0.1em;
	margin-bottom: 0.4em;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

input.contact::placeholder {
	color: var(--accents);
}

input.contact.mailIn {
	border: solid var(--accents) 0.1em;
}

input.contact.mailInFalse {
	border: solid var(--deep_red) 0.1em;
}

.mailincorrect {
	visibility: hidden;
}

input.contactpage.submit {
	background: var(--deep_red);
	padding: 7px;
	font-size: 17pt;
	color: var(--font);
	border: solid var(--deep_red) 0.1em;
}

input.contactpage.submit:hover {
	background: var(--bright_red);
	border: solid var(--bright_red) 0.1em;
	padding: 7px;
	font-size: 17pt;
}

/*Login*/
form.loginpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10pt;
}

label.loginpage {
	color: var(--documents);
	margin-top: 15pt;
}

hr.loginpage {
	border: 1pt solid var(--column_bright);
}

input.loginpage {
	color: var(--font);
	margin-top: 15pt;
	margin-bottom: 15pt;
	font-size: 14pt;
	width: auto;
}

input.loginpage.user {
	background: transparent;
	border: none;
	border-bottom: 2pt solid var(--column_bright);
}

input.loginpage.submit {
	background: var(--deep_red);
	padding: 5pt;
	font-size: 14pt;
}

input.loginpage.submit:hover {
	background: var(--bright_red);
	padding: 5pt;
	font-size: 14pt;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border-bottom: 2pt solid var(--column_bright);
	-webkit-text-fill-color: var(--font);
	-webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
	transition: background-color 5000s ease-in-out 0s;
}

.loginError{
	color: var(--deep_red);
	text-align: center;
}

/*Register - Register also uses styling from the login but here are spicific ones that
	are only for the register page (so far)
*/
form.register {
	justify-content: space-around;
	align-items: flex-start;
	padding: 10pt;
}

.registerbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10pt;
	border: 2pt solid var(--border);
	align-items: flex-start;
}

.registerpage.passwordRQMTS{
	color: var(--column_bright);
	font-size: 10pt;
}

input.loginpage.user.RPTincorrect {
	border-bottom: 2pt solid var(--deep_red);
}

.RPTincorrect {
	color: var(--deep_red);
}

select.loginpage {
	color: var(--font);
	margin-top: 15pt;
	margin-bottom: 15pt;
	font-size: 14pt;
	width: auto;
	background: transparent;
	border: none;
	border-bottom: 2pt solid var(--column_bright);
}

select.loginpage option {
	color: var(--font);
	margin-top: 15pt;
	margin-bottom: 15pt;
	font-size: 14pt;
	width: auto;
	background: var(--background);
	border: none;
	border-bottom: 2pt solid var(--column_bright);
}

/*Bewertungsseite----------------------------------------------*/

#rating {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}

#rating .rating {
	user-select: none;
}

#rating .rating-userstar:before {
	content: "\2605";
}

#rating .rating-userstar {
	font-style:normal;
	font-size: 1.3em;
}

#rating .editable-star {
	cursor: pointer;
}

#rating .rating-userstar.checked {
	color: var(--bright_red);
}

#rating .heading {
  font-size: 25px;
  margin-right: 25px;
  margin-top:25px;
}

#rating .fa {
  font-size: 25px;
}


#rating .middle {
  float: left;
  width: 70%;
  margin-top: 20px;
}

#rating .row:after {
  content: "";
  display: table;
  clear: both;
}


#rating .bar-container {
  width: 100%;
  background-color: var(--column_bright);
  text-align: center;
  color: white;
}

#rating .review-date {
	color: var(--accents);
	margin-left: .5em;
}

#rating .child {
	padding: .1em .5em;
	background: var(--border);
	margin: 1em 0;
}

#rating .side {
	
	float:left;
	width:15%;
	margin-top:20px;
}

#rating .right {
	text-align: right;
}


#rating .right + .side {
	clear:both;
}

@media screen and (max-width: 600px) {
	#rating {
		padding:0;
	}

	#rating .side {
		width:unset;
		margin: 20px 10px 0 0;
	}

	#rating .right {
		margin: 20px 0 0 10px;
	}
}

@media screen and (max-width: 370px) {
	#rating .middle {
		width:60%;
	}
}

#rating .ratingbar {
	height:18px;
	background-color: var(--bright_red);
}


input.rating.submit {
	background: var(--deep_red);
	padding: 7px;
	font-size: 17pt;
	color: var(--font);
	border: solid var(--deep_red) 0.1em;
}

input.rating.submit:hover {
	background: var(--bright_red);
	border: solid var(--bright_red) 0.1em;
	padding: 7px;
	font-size: 17pt;
}

/*Partner Seite*/

h2.partner {
	color: var(--bright_red);
}

article.partner {
	display: flex;
	align-items:center;
	border: 3px solid var(--border);
	padding: 10px;
	justify-content: space-around;
	margin: 5px;
	font-size: 20px;
	width: 230px;
}

article.partner.bubatz {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 5px;
	font-size: 18px;
	border: none;
	width: 50%;
}

article.partner:hover {
	display: flex;
	align-items: center;
	border: 3px solid var(--border);
	padding: 10px;
	justify-content: space-between;
	margin: 5px;
	font-size: 20px;
	width: 230px;
	background: var(--column_dark);
}

article.partner.bubatz:hover {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 5px;
	font-size: 18px;
	border: none;
	width: 50%;
	background: none;
}

div.partner {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

}

mark.home.disclaimer{
	font-size: 10pt;
}

/*-----profile-------*/

p.profile{
	color: var(--accents);
}

p.profile span {
	color: var(--font);
}

mark.boxtitle{
	color: var(--documents);
	background: none;
}

div.profile.box{
	background: var(--border);
	padding: 10px;
	min-width: 140px;
}

input.profile {
	color: var(--font);
	font-size: 14pt;
	width: auto;
	background: transparent;
	border: none;
	user-select: none;
}

.profile.info{
	color: var(--accents);
	font-size: 10pt;
}

div.profileview{
	justify-self: center;
	width: 60%;
	margin: auto;
}


/*-------------------------------*/

form.pageswitch {
	display: flex;
	justify-content: center;
}

input.pageswitch {
	font-size: 20pt;
	color: var(--font);
	background: var(--deep_red);
	border: 1px solid var(--border);
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

/*Karriereseite----------------------------------------------*/

#karriere .h1{
	color: var(--deep_red);
	text-align: center;
	margin-top:50pt;
}
#karriere .center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#karriere .box{
	justify-content: center;
	align-items: center;
	padding:20px;
	margin-left:180pt;
	margin-right:180pt;
	height:20%;
	box-sizing:border;
	text-align:center;
}

#karriere .list{
	list-style-position: inside;
	text-align: center;
	margin-top:5px;
}
#karriere .flex-container {
	justify-content: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width:800px) {
	#karriere .flex-container {
		display: block;
	}
}

#karriere .flex-container div {
	background-color: var(--border);
	margin: 10px;
	padding: 25px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

